<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>
    <%- include('./partials/nav.ejs')  %>

    <div class="create-user content">
        <p class="contactContainer"> Please fill out the form below and click "submit"</p>
        <form class="userinfo contactContainer" method="POST" action="/users">
            <input type="text" name="name" required placeholder="Enter user's name"><br/> 
            <input type="text" name="gender" required placeholder="Enter user's gender"><br/>
            <br/><button class="btn btn-primary">Submit</button>
        </form>
    </div>
    
    <%- include('./partials/footer.ejs')  %>
</body>
</html>