<html lang="en">
    <%- include('./partials/head.ejs')  %>

<body>

    <%- include('./partials/nav.ejs')  %>
    
    <h3>Project 2</h3>
    <h4>*** Added and implemented both MongoDB and Mongoose ***</h4>
    <h3>Project 3</h3>
    <h4>*** Added and implemented RESTful API on /users page ***</h4>

    <%- include('./partials/footer.ejs')  %>

</body>

</html>