<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anthony's DataBase</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
        

        * {
            box-sizing: border-box;
            list-style: none;
            margin: 0;
            padding: 0;
            text-decoration: none;
        }
        body{
            font-family: Montserrat; 
        }

        /* nav and footer styles */
        nav{
            background: #454d55;
            height: 80px;
            width: 100%;
        }
        label.logo {
            color: white;
            font-size: 35px;
            line-height: 80px;
            padding: 0 100px;
            font-weight: bold; 

        }
        nav ul{
            float: right;
            margin-right: 20px;
        }
        nav ul li{
            display: inline-block;
            line-height: 80px;
            margin: 0 5px;
        }
        nav ul li a {
            color: white;
            font-size: 17px;
            padding: 7px 13px;
            border-radius: 3px;
            text-transform: uppercase;
        }
      
         a.active, a:hover {
            background: #18222C;
            transition: .5s;
        }
        
        nav ul li a{
            font-size: 16px;
        }
        
        footer{
            color: #777;
            text-align: center;
            padding: 10;
            padding: 25rem;
        }
    
        table {
            width: 75%;  
        }

        th, td {
            text-align: center;
        }
       
        .userContainer {
            margin-top: 5rem;
           display: flex;
           justify-content: center;
           align-items: center;
        }

        .homeContainer {
            margin-top: 5rem;
           display: flex;
           justify-content: center;
           align-items: center;
        }

        .contactContainer {
            display: flex;
            justify-content: center;
            margin-top: 5rem;
        }

        p {
            padding: .5rem;
        }

        input {
            margin: 10px 10px;
        }

        .userHeader{
            margin: 50px 50px;
            text-align: center;
        }

        .btn-primary {
            color: #fff;
            background-color: #18222C;
            border-color:#18222C;
        }
        .btn-primary:hover {
            color: #fff;
            background-color:#454d55;
            border-color:#454d55;
        }



    </style>
</head>