<nav>
    <div class="site-title">
    <a  href="/"><h1>Anthony's CSC496 Project</h1></a>
</div>
<ul>
    <li style="border: groove;"><a href="/">Home</a></li>
    <li style="border: groove;"><a href="/users">Users</a></li>
    <li style="border: groove;"><a href="/contacts/add">Add Contact</a></li>
</ul>
</nav>